.form {
  // POSITIONING
  @include wrapperBg;
  @include flex-start;
  flex-flow: column nowrap;
  left: -200vw;
  z-index: 1000;
  // DIMENSIONS / SPACES
  @include square(auto);
  padding: 2% 60px 0%;
  overflow: hidden;
  // STYLING
  background: #364f6bda;
  border-radius: 10%;
  opacity: 0;
  transition: transform 1s, opacity 1s, left 0s 1s;

  &.show {
    left: 50vw;
    opacity: 1;
    transform: translate(-50%, -60%);
    transition: transform 0.7s cubic-bezier(0.47, 0.17, 0, 0.73),
      opacity 0.7s cubic-bezier(0.47, 0.17, 0, 0.73);
  }

  .form-title {
    // POSITIONING
    @include flex-start;
    justify-content: space-between;
    padding: 0px 5px;
    // DIMENSION
    width: 100%;

    h2 {
      font-size: 2.5rem;
      color: white;
      transition: transform 0.5s linear;

      @media (max-width: 990px) {
        transform: rotate(90deg) translateY(90px) translateX(50%);
      }
    }

    svg {
      font-size: 25px;
      color: #d3345b;
      cursor: pointer;
    }
  }

  form {
    margin-bottom: 1vh;

    input {
      margin-bottom: 1rem;
    }

    .inptPass {
      // POSITIONING
      position: relative;
      display: inline-block;
      // DIMENSION / SPACES
      width: 100%;

      &:last-of-type {
        margin-bottom: 1vh;
      }

      .fa-eye-slash {
        @include pos($t: 0px, $r: 10px, $x: 0, $y: 0);
        color: #fff;
      }
    }

    button {
      width: 100%;
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }

    p {
      color: rgb(201, 195, 195);
      font-size: 1.2rem;
      text-align: center;

      a {
        color: #d3345b !important;
        cursor: pointer;
      }
    }
  }
}

.hidden {
  transform: translate(-50%, -60%);
}

.form-overlay {
  // POSITIONING
  @include pos($pos: fixed, $t: 0vh, $l: 0vw, $x: 0, $y: 0);
  @include flex-center;
  z-index: 10;
  // DIMENSIONS
  width: 0;
  height: 100vh;
  // STYLING
  background: rgba(26, 34, 51, 0.425);
  opacity: 0;
  transition: opacity 1s, width 0s 1s;

  &.show {
    width: 100vw;
    opacity: 1;
    transition: opacity 1s;
  }

  &:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABGUlEQVRYR+1WWw7CMAxzEQghLsAJuP95uAH/CCHxCNrUVmXt0jQr6z62j2matthxnDQGjS/TGB8rgcUqYAj4dP4wwAnAtYJXtgQ8bcwdgJd9jkMTQOHbCiQ8uItr+tzsLZGdVyD4QatECpxXwILWIMGCcwr4xJ0XFErsCXgMSukzD+Jl7aVR4kDAPQcuUUCjhBi8hED/raAcRwJuksxLSvATjyFRDF6qAFeOMwGXksy1CoyS0IBrFXBYGwLewx4yQNRqXJ9pD6PIkHMqkOqG2TzAteLfu6DpHJCAOxsUKSExYQm4IyEexzkCGnBHYvJpOAXckVDvAzXARSSSJVjCTthtpf1iWmEhjUZ3OK5zJsyuS1M/WAk0V+ALoiZ9IV3jnzQAAAAASUVORK5CYII=)
        0 0,
      default;
  }
}
